<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.test" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordovaplugintest</name>
    <js-module name="cordovaplugintest" src="www/cordovaplugintest.js">
        <clobbers target="cordova.plugins.cordovaplugintest" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="cordovaplugintest">
                <param name="android-package" value="cordova.plugin.test.cordovaplugintest" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/cordovaplugintest.java" target-dir="src/cordova/plugin/test/cordovaplugintest" />
    </platform>
</plugin>